# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/image-picker-lib/build/
/image-picker-lib/build/intermediates/javac/debug/classes/
/restful-api-client/build/
/restful-api-client/build/intermediates/javac/debug/classes/